.footer1 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #92bc54;
    color: white;
    text-align: center;
 }

 #iconos{
     color: black;
 }

 #iconos:hover{
    color: white;
    cursor: pointer;
}