#underline::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: black;
    transition: width .3s
}

#underline:hover::after{
    width: 100%;
    transition: width .3s;
}

#underline{
    font-size: 20px;
    cursor: pointer;
    color: black;
}

#change:hover{
    color:black;
}

.hero-head{
    background-color: #bbd693;
}

.hero-body{
    background-color: #92bc54;
}

.title1{
    color: black;
    font-size: 50px;
}